<header>
    <div class="content-container">
        <a id="a-title" href="{{ '/' | relative_url }}">
            <span class="p-title">{{ site.title | default: site.github.repository_name }}</span>
            <span id="span-header">
                <span class="btn span-btn" onclick="open_search_bar();return false;">🔍</span>
                <span class="btn span-btn" onclick="open_head_nav_bar();return false;">📜</span>
            </span>
        </a>
        <div class="header-nav">
            <p class="p-desc">{{ site.description | default: site.github.project_tagline }}</p>
            <div class="catalogue-nav">
                <a href="/" class="btn">Home</a>
                <a href="/blog/" class="btn">Catalogue</a>
                <a href="/about/" class="btn">About</a>
                <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>Github</a>
            </div>
        </div>
    </div>
</header>

