<script src="/assets/js/jquery.head-nav.js"></script>
<div>
    <div id="head-nav-background1">
        <section id="head-nav-section">
            <button id="head-nav-close-button" onclick="close_head_nav_bar()">✕</button>
            <div id="head-nav-text">导航栏</div>
            <div id="head-nav-background2">
                <div id="head-nav-container">
                    <a href="/">Home</a>
                    <a href="/blog/">Catalogue</a>
                    <a href="/about/">About</a>
                    <a href="{{ site.github.repository_url }}">Github</a>
                </div>
            </div>
        </section>
    </div>
</div>