<header>
    <div class="header-container">
        <a id="a-title" href="{{ '/' | relative_url }}">
            <p class="p-title">{{ site.title | default: site.github.repository_name }}</p>
        </a>
        <div class="header-nav">
            <p class="p-desc">{{ site.description | default: site.github.project_tagline }}</p>
            <div class="catalogue-nav">
                <a href="/" class="btn">Home</a>
                <a href="/blog/" class="btn">Catalogue</a>
                <a href="/about/" class="btn">About</a>
                <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>Github</a>
            </div>
        </div>
    </div>
</header>

