<script src="/assets/js/jquery.search.js"></script>
<div>
    <div id="search-background1">
        <section id="search-section">
            <button id="search-close-button" onclick="close_search_bar()">✕</button>
            <div id="search-text">搜索</div>
            <div id="search-background2">
                <div id="search-container">
                    <div id="search-input-container">
                        <input id="search-input">
                        <button id="search-start-button">🔍</button>
                    </div>
                    <div id="search-result">
                        <a href="www.baidu.com" class="result-a">
                            <div class="result-d">
                                <p class="result-p-title">
                                    <span class="result-span-title">title</span>
                                    <span class="result-span-tag">tag</span>
                                </p>
                                <p class="result-excerpt">asjnjdbnjaksbjdbaksjbdjkbasjkdbajksbdkjbasjdbjkabdjkasd</p>
                            </div>
                        </a>
                        <a href="www.baidu.com" class="result-a">
                            <div class="result-d">
                                <p class="result-p-title">
                                    <span class="result-span-title">title</span>
                                    <span class="result-span-tag">tag</span>
                                </p>
                                <p class="result-excerpt">asjnjdbnjaksbjdbaksjbdjkbasjkdbajksbdkjbasjdbjkabdjkasd</p>
                            </div>
                        </a>
                        <a href="www.baidu.com" class="result-a">
                            <div class="result-d">
                                <p class="result-p-title">
                                    <span class="result-span-title">title</span>
                                    <span class="result-span-tag">tag</span>
                                </p>
                                <p class="result-excerpt">asjnjdbnjaksbjdbaksjbdjkbasjkdbajksbdkjbasjdbjkabdjkasd</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>