<script src="/assets/js/jquery.search.js"></script>
<button class="sidebar-toggle" aria-label="Menu" onclick="sidebar_toggle()">
    <div class="sidebar-toggle-button">
        <span></span>
        <span></span>
        <span></span>
    </div>
</button>
<aside class="sidebar">
    <div id="sidebar-header">
        <div class="search-container">
            <div class="search" onclick="open_search_bar()">🔍现在还搜不了</div>
        </div>
        <div class="result-panel"></div>
    </div>
    <hr id="sidebar-divide">
    <div class="sidebar-nav"></div>
</aside>