<button class="sidebar-toggle" aria-label="Menu" onclick="sidebar_toggle()">
    <div class="sidebar-toggle-button">
        <span></span>
        <span></span>
        <span></span>
    </div>
</button>
<aside class="sidebar">
    <div id="sidebar-header">
        <div class="search-container">
            <div class="search" onclick="open_search_bar()">
                <span>🔍搜索</span>
                <span class="shortcut-prompt">CTRL+K</span>
            </div>
        </div>
        <div class="result-panel"></div>
    </div>
    <hr id="sidebar-divide">
    <div class="sidebar-nav"></div>
</aside>