$search-zindex: 3;

#search-background1 {
  //display: flex;
  display: none;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
  outline: none;

  z-index: $search-zindex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  margin: 0;
  box-sizing: border-box;
  padding: 0;
  border-width: 0;
  border-style: solid;
}

#search-background1::-webkit-scrollbar-track {
  background-color: #1e191a;
}

#search-background1::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .3);
}


#search-section {
  justify-content: center;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
  z-index: $search-zindex;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.4) 0px 15px 40px;
  background-color: #151718;
  color: inherit;

  border-radius: 0.5rem;
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
}

#search-close-button {
  width: 32px;
  height: 32px;
  font-size: 32px;
  position: absolute;
  top: 1rem;
  inset-inline-end: 1rem;

  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  outline: none;
  border-width: 0;
  color: currentColor;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  user-select: none;
  transition: color 250ms ease 0s, background-color 250ms ease 0s;

  font-family: inherit;
  margin: 0;
  box-sizing: border-box;
  border-style: solid;
}

#search-text {
  flex: 0 1 0%;
  margin: 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  //padding: 0;
  padding-top: 1.25rem;
  font-size: 1.125rem;
  padding-inline-start: 1.25rem;
  padding-inline-end: 1.25rem;
  font-weight: 500;
  padding-bottom: 0.75rem;
}

#search-background2 {
  overflow: auto;
  flex: 1 1 0%;
  padding-inline-start: 1.25rem;
  padding-inline-end: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

#search-container {
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

#search-input-container {
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

#search-input {
  border-radius: 0.5rem;
  padding-inline-start: 0.75rem;
  padding-inline-end: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border: 1px solid transparent;
  background-color: #202425;

  appearance: none;
  position: relative;
  width: 100%;
  min-width: 0;
  outline: none;
  color: #ecedee;

  box-sizing: border-box;
  padding-block: 1px;

  min-height: 2.5rem;
}

#search-start-button {
  width: 2.5rem;
  padding: 0;
  border-radius: 0.5rem;
  flex-shrink: 0;
  //background-color: #102a4c;
  background-color: darkgreen;
  //color: #b5e853;
  height: 2.5rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  font-size: 1rem;
  border: 1px solid transparent;

  appearance: none;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;

  transition: color 250ms ease 0s, background-color 250ms ease 0s, box-shadow 250ms ease 0s;

  font-family: inherit;
  margin: 0;
  box-sizing: border-box;
}

#search-result {
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: flex;
  margin: 0;

  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

.result-a {
  border-radius: 0.375rem;
  cursor: pointer;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;

  flex-direction: row;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(132,133,141,0.18);
  display: flex;
  background-color: transparent;
  color: inherit;
  text-decoration: inherit;

  margin: 0;

  box-sizing: border-box;
  //border-style: solid;
  //border-width: 0;
}

.result-d {
  flex-direction: column;
  align-items: start;
  row-gap: 0.25rem;
  flex: 1 1 0%;
  padding: 0.25rem;
  width: 100%;
  display: flex;
  margin: 0;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  color: inherit;
}

.result-p-title:before {
  content: url("/assets/images/bullet.png");
}

.result-p-title {
  word-break: break-all;
  overflow-wrap: break-word;
  margin: 0;

  box-sizing: border-box;
  border-style: solid;
  border-width: 0;

  padding: 0;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.result-span-title {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;

  margin: 0;
  padding: 0;
  word-break: break-all;
  overflow-wrap: break-word;
  cursor: pointer;
}

.result-span-tag {
  margin-left: 0.5rem;
  //color: #52a9ff;
  //background-color: #102a4c;
  color: #b5e853;
  background-color: darkgreen;
  border: 1px solid transparent;
  display: inline-block;
  border-radius: 0.25rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-inline-start: 0.25rem;
  padding-inline-end: 0.25rem;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0.025em;
  white-space: nowrap;
  vertical-align: middle;

  //margin: 0;
  box-sizing:   border-box;

  word-break: break-all;
  overflow-wrap: break-word;
  cursor: pointer;
}

.result-excerpt {
  color: #787f85;
  word-break: break-all;
  overflow-wrap: break-word;
  font-size: 0.75rem;
  line-height: 1rem;

  box-sizing: border-box;
  border-style: solid;
  border-width: 0;

  margin: 0;
  padding: 0;
  margin-block-start: 0.66em;
  margin-block-end: 0.66em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  cursor: pointer;
}