/* 定义全局变量 */
:root {
    --rotate-speed: 40;
    --count: 8;
    --easing: cubic-bezier(0.000, 0.37, 1.000, 0.63);
}

/* 设置页面样式 */
body {
    /*margin-left: 3%;*/
    /*margin-right: 3%;*/
    margin: 0 2% 0 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    /*width: 94%;*/
    overflow: hidden;
    /*background-color: #fbc2eb77;*/
    background-image: linear-gradient(to top, darkgreen 0%, #1e191a 100%);
    box-sizing: border-box;
}

/* 设置容器样式 */
.timeEffect {
    width: 100%;
    /*max-width: 1024px;*/
    margin: 5px;
    position: relative;
    /*aspect-ratio: 1 / 1;*/
    flex-grow: 1;
    height: 80vh;
}

/* 鼠标悬停时暂停动画 */
ul:hover * {
    animation-play-state: paused;
}

/* 设置列表样式 */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    /*aspect-ratio: 1 / 1;*/
    z-index: 1;
    height: 100%;
}

/* 设置列表项样式 */
li {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 74%;
    left: 13%;
    animation: rotateCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
}

/* 设置卡片样式 */
.card {
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px;
    gap: 8px;
    background: black;
    box-shadow: 0px 4px 12px rgba(70, 0, 255, 0.1),
    0px 16px 32px rgba(165, 135, 255, 0.1);
    border-radius: 12px;
    font: 400 14px '';
    color: #535062;
    animation: rotateCCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
}

/* 设置图片样式 */
.card img {
    width: 100%;
}

/* 设置链接样式 */
.timeEffect a {
    text-decoration: none;
    color: #b5e853;
    display: block;
    height: 80px;
    overflow-y: scroll;
}

/* 设置模型名称样式 */
.model-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #3B2ED0;
    display: block;
    letter-spacing: 3px;
    color: #6844f7;
}

/* 设置SVG样式 */
svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/* 设置不同列表项的动画延迟 */
li:nth-child(2),
li:nth-child(2) .card {
    animation-delay: calc((var(--rotate-speed)/var(--count)) * -1s);
}

li:nth-child(3),
li:nth-child(3) .card {
    animation-delay: calc((var(--rotate-speed)/var(--count)) * -2s);
}

li:nth-child(4),
li:nth-child(4) .card {
    animation-delay: calc((var(--rotate-speed)/var(--count)) * -3s);
}

li:nth-child(5),
li:nth-child(5) .card {
    animation-delay: calc((var(--rotate-speed)/var(--count)) * -4s);
}

li:nth-child(6),
li:nth-child(6) .card {
    animation-delay: calc((var(--rotate-speed)/var(--count)) * -5s);
}

/* 定义顺时针旋转动画 */
@keyframes rotateCW {
    from {
        transform: translate3d(0px, -50%, -1px) rotate(-45deg);
    }

    to {
        transform: translate3d(0px, -50%, 0px) rotate(-315deg);
    }
}

/* 定义逆时针旋转动画 */
@keyframes rotateCCW {
    from {
        transform: rotate(45deg);
    }

    to {
        transform: rotate(315deg);
    }
}

/* 设置中心圆样式 */
.center-circle {
    position: absolute;
    width: 200px;
    aspect-ratio: 1 / 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*background: #FFFFFF;*/
    box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3),
    0px 30px 60px -12px rgba(12, 5, 46, 0.25);
    border-radius: 50%;
    background-size: cover;
    /*background-position: -35px 0;*/
    background-position: center;
    /*background-image: url(../images/hacker.png);*/
    background-image: url(/assets/images/hacker-modified.png);
    /*background-color: #231f20;*/
    background-color: #1e191a;
}

/* 设置第二个圆样式 */
.second-circle {
    position: absolute;
    width: 33%;
    aspect-ratio: 1 / 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #F5F4FE;
    opacity: 0.5;
    box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3),
    0px 30px 60px -12px rgba(12, 5, 46, 0.25);
    border-radius: 50%;
    background-image: url(/assets/images/background.gif);
}

/* 设置最后一个圆样式 */
.last-circle {
    position: absolute;
    width: 49%;
    aspect-ratio: 1 / 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #F5F4FE;
    opacity: 0.25;
    box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3),
    0px 30px 60px -12px rgba(12, 5, 46, 0.25);
    border-radius: 50%;
    background-image: url(/assets/images/background.gif);
}

/* 设置裁剪样式 */
.crop {
    -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1));
    height: 100%;
}

/* 设置遮罩样式 */
.mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-image: radial-gradient(100% 50% at 100% 50%,
    rgba(60, 26, 229, 0.25) 0%,
    rgba(59, 26, 229, 0.241896) 20%,
    rgba(53, 26, 229, 0.1872) 40%,
    rgba(41, 23, 240, 0.104) 60%,
    rgba(34, 26, 229, 0.0184296) 90%,
    rgba(32, 26, 229, 0) 100%);
}

/* 设置遮罩样式后的效果 */
.mask:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    right: 0;
    display: block;
    background-image: linear-gradient(180deg, rgba(60, 26, 229, 0) 0%,
    #3C1AE5 50%, rgba(60, 26, 229, 0) 100%);
}

header {
    margin: 0;
    padding: 20px 0;
}

/* 重置一下主题自带的列表前缀 bullet.png */
ul li {
    list-style-image:none;
}

/*响应式布局*/
@media (max-width:1060px) {
    .header-nav {
        display: none;
    }

    header {
        padding: 52px 0px;
    }

    body {
        min-width: 350px;
        overflow: hidden;
    }

    #card-list {
        display: none;
    }

    #span-header {
        display: flex;
    }

    .last-circle {
        width: 160%;
        top: 46%;
    }

    .second-circle {
        width: 100%;
        top: 40%;
    }

    .center-circle {
        top: 38%;
    }

    #search-section {
        margin-top: 2.4rem;
        margin-bottom: 5.75rem;
    }

    .span-btn {
        border-left-color: darkgreen;
        border-right-color: darkgreen;
        margin-left: 5px;
    }

    .timeEffect {
        overflow: hidden;
    }
}
